


:root{
    --primary-color: rgb(37, 37, 37);
    --secondary-color: rgb(194, 201, 206);
    --accent-color: rgb(168, 171, 173);
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
}


body {
    background-color:var(--primary-color);
    height: 100%;
    margin: 0;
    font-family: 'inter', sans-serif;
    line-height: 1.5;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.panel-left, .panel-right{
    margin: 0;
    padding: 0;
}

.panel-left {
    display: flex;
    flex: 1;
    justify-content: center;


    background-image: url("images/24eggs.jpg");
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}
.logo-container {
    position: relative;
    margin-top: 100px;
}

.logo-container img {
    height: 180px;
    position: relative;
    z-index: 1;
    padding: var(--space-sm) var(--space-md);
    /* background: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(10px);
     border-radius: 360px; 

}

.panel-right {
    display: flex;
    flex: 1;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel-right h1, p{
    align-self: flex-start;
    margin-left: 10%;
}
.panel-right fieldset{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
   gap: var(--space-md);
   width: 80%;
   border: 2px;
   margin-top: var(--space-md);
   border-style: dashed;
   border-radius: var(--space-lg);
   padding: var(--space-lg) var(--space-lg);
   background-color: var(--accent-color);
   
}
.panel-right fieldset .field{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 48%;
}


.panel-right fieldset input{
    padding: var(--space-sm);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    transition: all 0.6s ease;
}

input:focus{
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 5px rgba(79, 70, 229, 0.8);
}

input:invalid{
    border-color: rgb(128, 4, 4);
}
input:valid{
    border-color: #16a34a;
}
input::placeholder-shown{
    border-color: #ccc;
}

.panel-right button{
    padding: var(--space-sm) var(--space-md);
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-size: 16px;
    cursor: pointer;
    transition: 150ms ease;
    color: white;
    
}
button:hover{
    
    scale: 1.15;
}