


:root{
    --primary-color: rgb(37, 37, 37);
    --secondary-color: rgb(194, 201, 206);
    --accent-color: rgb(255, 255, 255);
}


body {
    background-color:var(--primary-color);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.panel-left, .panel-right{
    margin: 0;
    padding: 0;
}

.panel-left {
    display: flex;
    flex: 1;
    justify-content: center;


    background-image: url("images/24eggs.jpg");
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}
.logo-container {
    position: relative;
    margin-top: 100px;
}

.logo-container img {
    height: 180px;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    /* background: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(10px);
     border-radius: 360px; 

}

.panel-right {
    display: flex;
    flex: 1;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel-right fieldset{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
   gap: 20px;
   
}
